.header{
    background-color: transparent;
    width: 100vw;
    /*position: absolute;
    top: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.content{
    width: 20%;
}

.logo{
    max-width: 100px;
    padding-top: 20px;
}